---
layout: index
title: Встречная
heder-title: Персональный сайт Иванова Данила aka nonamenix
group: navigation
---

{% include JB/setup %}


<h2>Заметки из блокнота
    <small><a href="/blog/">Перейти ко всем записям</a></small>
</h2>

{% assign posts = site.posts|where:"show_on_main":1 |limit:4  %}
{% include posts.html %}

<!--<div class="well"></div>-->

<h2>Портфолио
    <small><a href="/projects.html">Перейти ко всем проектам</a></small>
</h2>
    {% assign posts = site.categories["Projects"] %}
    <div class="row">
        {% for post in posts limit: 4 %}
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">{{post.title}}</div>
                <div class="panel-body no-padding">
                    <a href="{{post.url}}">
                        <img class="img-responsive" src="{{post.image}}" alt="{{post.title}}"></a>
                </div>
                <div class="panel-footer"> {{ post.date | date: "%Y %B"}}</div>
            </div>
        </div>
        {% endfor %}
    </div>


<h2>Резюме
    <small><a href="/cv/">Посмотреть полную версию</a></small>
</h2>
<div class="well">
    <a href="/cv/">
        <img src="/assets/images/cv/cv.png" alt="Резюме" class="img-responsive"/>
    </a>
</div>

