      
<div class="row">
    <div class="col-lg-12">
        <div class="well">
        	<h3>Подкасты</h3>  
			<ul>
				<li><a href="http://www.radio-t.com/">РадиоТ</a> — Подкаст выходного дня - импровизации на темы высоких технологий;</li>
				<li><a href="http://ctocast.com/">CTOcast</a> — Подкаст о технологиях, процессах, инфраструктуре и людях в IT-компаниях. Правда про технологии не особо много; </li>
				<li><a href="http://devopsdeflope.ru/">DevOps Дефлопе</a> — Русскоязычный подкаст о DevOps;</li>
				<li><a href="http://frontflip.me/">FrontFlip</a> и <a href="http://radiojs.ru/"></a> — подкасты о веб-рабзработке.</li>
			</ul>
        </div>
    </div>
</div>


