<div class="row blog-posts">
    {% for post in posts %}
    <div class="col-md-6 blog-post" itemscope itemtype="http://schema.org/BlogPosting">
        <a href="{{ site.production_url }}{{ post.url }}" itemprop="url">
            <div class="panel panel-default">
                {% if post.image %}
                    <div class="panel-body" style="background: url({{post.image}}) no-repeat top center; background-size: cover"></div>
                    <meta itemprop="image" content="{{ site.production_url }}{{ post.image }}"/>
                {% else %}
                    <div class="panel-body" style="background: url(/assets/images/covers/{{post.date | date: '%d' | modulo: 2 | plus: 1}}_small.jpeg) no-repeat top left"></div>
                {% endif %}

                <div class="panel-footer">
                    <h2 itemprop="name">{{ post.title }} </h2>
                    {{ post.date | date_to_long_string }} |
                    {{ post.tags | join: ', ' }}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>