<div class="row">
    <div class="col-lg-12">
        <h2>Образование</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <div class="row">
                <div class="col-md-2">
                    <p>Сентябрь 2011 — Июнь 2013</p>
                </div>

                <div class="col-md-10">
                    <h4>
                        Санкт-Петербургский Государственный Университет
                        (<a href="http://spbu.ru/">SPBU.ru</a>)
                    </h4>

                    <p>Факультет Прикладной математики и процессов управления (<a
                            href="http://apmath.spbu.ru/">apmath.spbu.ru</a>)
                        <br> Магистр, <strong>диплом с отличием</strong>.
                        <a data-toggle="collapse" href="#collapse-master" aria-expanded="false"
                           aria-controls="collapse-master">Подробнее</a>

                    </p>


                    <div class="collapse" id="collapse-master">
                        <p>Магистерская программа: "Базы данных". В ходе обучения получены
                            практические навыки работы как с реляционными базами данных: MySQL,
                            MSSQL, PostgreSQL так и с NoSQL решениями: CouchDB, MongoDB, Redis,
                            ZODB.</p>

                        <p>Магистерская диссертация: "Долгосрочное прогнозирование ледовой
                            обстановки в Арктике". В ходе работы решалось три задачи:</p>

                        <ul>
                            <li>Создание модели и метода прогнозирования пространственных
                                данных;
                            </li>

                            <li>Создание фреймворка на языке Python для работы с
                                коллекциями спутниковых данных;
                            </li>

                            <li>Создание геоинформационной системы, служащей основой для
                                дальнейшей работы над системой мониторинга Арктики на основе
                                спутниковых данных.
                            </li>
                        </ul>

                        <p>Для построения прогноза использовались: IPython Notebook, SciPy, NumPy, Matplotlib,
                            Pydap.</p>

                        <p>Для создания прототипа системы мониторинга Арктики:</p>

                        <ul>
                            <li>back-end: Python, Django, GeoDjango, PostGIS, GeoServer,
                                GeoWebCache, GDAL;
                            </li>

                            <li>front-end: jQuery, Zurb Foundation, Sass, CoffeeScript,
                                Backbone.
                            </li>
                        </ul>

                        <p>Приложения:
                            <a href="/assets/files/dissertation.pdf"> full text (4,0 МБ)</a>
                            <a href="/assets/files/abstract.pdf"> abstract (17,8 КБ)</a>
                            <a href="/assets/files/review.pdf"> review (164,9 КБ)</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-2">
                    <p>Сентябрь 2007 — Июнь 2011</p>
                </div>

                <div class="col-md-10">
                    <h4>Санкт-Петербургский Государственный Университет (<a href="http://spbu.ru/">SPBU.ru</a>)
                    </h4>

                    <p>Факультет Прикладной математики и процессов управления
                        (<a href="http://apmath.spbu.ru/">apmath.spbu.ru</a>)<br>
                        Бакалавр.</p>

                </div>

                <div class="col-md-2">
                    <p>Май 2005 — Июнь 2007</p>
                </div>

                <div class="col-md-10">
                    <h4>Иркутский государственный технический университет
                        (<a href="http://www.istu.edu/">www.istu.edu</a>)
                    </h4>

                    <p>Прикладная информатика в экономике<br>
                        Н/высшее.</p>
                </div>
            </div>
        </div>
    </div>
</div>