<div class="row">
    <div class="col-md-2">
        Октябрь 2008 — по настоящее время
    </div>

    <div class="col-md-10">
        <h4 class="job-title">Freelance Web Developer (<span class="plugin_link"><a href="/portfolio.html">nonamenix.ru/portfolio</a></span>)
        </h4>

        <p>В ходе работы во фрилансе было реализовано и доработано
            много различных проектов: начиная от простых сайтов визиток
            заканчивая несколькими интернет-магазинами. Так же получен
            бесценный опыт общения с заказчиком.

            <a data-toggle="collapse" href="#collapse-freelance" aria-expanded="false"
               aria-controls="collapse-freelance">Подробнее</a>
        </p>

        <div class="collapse" id="collapse-freelance">
            <p><strong>Проекты:</strong></p>

            <ul>
                <li><a href="/projects/2012/10/01/photopuma-2/">Photopuma.ru</a> — сайт-портфолио фотографа Завьяловой
                    Маргариты. Сайт реализован с использованием Django, MySQL, Sass, Compass.
                    <a href="http://www.youtube.com/watch?v=ocKcGmb9AwU">Предыдущая версия</a> была написана с
                    использованием фреймворка Kohana (PHP);
                </li>
                <li>
                    <a href="/projects/2013/01/14/coverparty/">CoverParty.ru</a> — сайт музыкального фестиваля Cover Party,
                    организуемый Yana Chudit Music Management.
                </li>
                <li>
                    <a href="http://seal-parket.ru/">SealParket.ru</a> — интернет-магазин строительных материалов;
                </li>

                <li><a href="http://licey2-angarsk.ru/">Ангарский лицей №2</a> — сайт лицея, в котором
                    когда-то обучался. Сайт сделан на CMS Joomla с мелкими доработками;
                </li>

                <li><a href="http://www.freedompeople.ru/">Freedompeople</a>
                    — сайт, основанный на CMS Joomla с доработками по
                    дизайну и SEO.
                </li>
            </ul>
            <strong>Доработки на сайтах:</strong>
            <ul>
                <li><a href="http://app-teka.ru/">app-teka.ru</a> — Модуль
                    новостной рассылки (PHP, JS, CSS, jQuery, jQuery
                    UI);
                </li>

                <li><a href="http://toledojiujitsu.com/">toledojiujitsu.com</a>
                    — Модуль карты филиалов для CMS Wordpress (PHP,
                    GoogleMapsAPI, jQuery).
                </li>
            </ul>
        </div>
    </div>
</div>