<div class="row">
    <div class="col-md-2">
        Февраль 2011 — Октябрь 2011
    </div>

    <div class="col-md-10">
        <h4 class="job-title">Студия Ламантин (<a href="http://lamantin-spb.ru/">Сайт</a>)</h4>

        <p>
            <strong>Должность</strong>: Web Developer.
            <a data-toggle="collapse" href="#collapse-lamantin" aria-expanded="false"
               aria-controls="collapse-lamantin">Подробнее</a>

        </p>

        <div class="collapse" id="collapse-lamantin">
            <p>
                <strong>Задачи</strong>: Создание, доработка и поддержка сайтов. Создание системы внутреннего
                бухгалтерского учета.


            </p>

            <p><strong>Используемые технологии</strong>: PHP, CodeIgniter, Kohana, HTML, CSS, JS, jQuery, jQuery UI.</p>
        </div>

    </div>
</div>