<div class="row">


    <div class="col-md-2">
        Февраль 2012 — Сентябрь 2013
    </div>

    <div class="col-md-10">
        <h4 class="job-title">Лаборатория спутниковой океанографии (<a href="http://solab.rshu.ru/">SOLab</a>)
        </h4>

        <p>
            <strong>Должность</strong>: Программист.

            <a data-toggle="collapse" href="#collapse-solab" aria-expanded="false"
               aria-controls="collapse-solab">Подробнее</a>
        </p>


        <div class="collapse" id="collapse-solab">

            <p><strong>Проекты:</strong></p>

            <ol>
                <li>
                    <p><a href="/projects/2013/10/01/satin/">SATIN</a> (SATellite
                        Data Search and Manage INformation Portal) — веб-сайт, предназначенный для доступа к данным
                        дистанционного зондирования океана.</p>

                    <p>Используемые технологии: js, jQuery, Bootstrap, CSS, ASP .NET, LFTP, Mercurial.</p>
                </li>

                <li>
                    <p><a href="/portfolio/sajt-solab.html">Сайт SOLab</a> version 2.0 — Сайт Лаборатории
                        спутниковой океанографии.</p>

                    <p>Используемые технологии: Django, Django-cms, jQuery, 960px, CSS, HTML mMcrodata,
                        Mercurial.</p>
                </li>

                <li>
                    <p><a href="/portfolio/polar-lows.html">Polar Lows</a> — проект, посвященный созданию
                        климатологии полярных циклонов в северных моряx.</p>

                    <p>Используемые технологии: Matlab, Python, Django, Geoserver, Django-tastypie, PostGIS, Sass,
                        Zurb Foundation Framework, CoffeeScript, Mercurial, GoogleMaps API, jQuery.</p>

                    <p>В результате проекта получено <strong>два патента</strong>:</p>

                    <ul>
                        <li>Программа ЭВМ "Метод построения визуализации траектории движения полярных циклонов в
                            высоких широтах по данным спутниковых пассивных микроволновых радиометров (VIrTuAL)";
                        </li>
                        <li>Программа ЭВМ "Полуавтоматический метод расчета параметров полярных циклонов в высоких
                            широтах (SIMPLe)".<br></li>
                    </ul>
                </li>

                <li>
                    <p><a href="/portfolio/arctic-monitor.html">Arctic Monitor</a> — прототип cистемы оперативного
                        мониторинга Арктики на основе спутниковых данных.</p>

                    <p>Используемые технологии: Django, Python, GeoDjango, GDAL, GeoServer, GeoWebCache, PostGIS,
                        Sass, Zurb Foundation Framework, CoffeeScript и OpenLayers.</p>
                </li>

                <li>
                    <p><a href="http://syntool.solab.rshu.ru/siows/">SIOWS</a> (Storm Ice Oil Watch System) —
                        Система мониторинга штормов, ледового покрова и нефтянных разливов.</p>

                    <p>Проект разрабатывается совместно с французской компанией <a
                            href="http://www.diateam.net/">diateam</a>.Занимаюсь
                        разработкой front-end'a.</p>
                </li>

            </ol>

            <strong>Приобретенные в ходе работы навыки:</strong>

            <ul>
                <li>Работа в команде с использованием распределенных систем контроля версий (git и mercurial) и
                    системы отслеживания ошибок (YouTrack);
                </li>

                <li>Front-end: HTML5, CSS3, Sass, Less, CoffeeScript, Zurb Foundation, Bootstrap, jQuery UI, jQuery
                    Mobile;
                </li>

                <li>Back-end: Django (+ различные модули), PostGIS, MSSQL;</li>

                <li>Другое: LFTP (автоматизация закачки спутниковых
                    данных);
                </li>

                <li>Настройка окружения для Django на основе nginx,
                    gunicorn и supervisor.
                </li>
            </ul>

        </div>
    </div>
</div>