---
layout: blog
title: Блокнот
---

{% include JB/setup %}

<div class="row">
    {% for post in paginator.posts %}
    <div class="col-md-12">
        <article class="well">
            <h2>
                <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
            </h2>

            <p class="small">
                <span class="glyphicon glyphicon-tags"></span> &nbsp;{{ post.tags | array_to_sentence_string }} &nbsp;
                <span class="glyphicon glyphicon-time"></span> {{ post.date | date_to_string }}
            </p>

            {{ post.excerpt }}

            <div class="text-right">
                <a class="btn btn-primary" href="{{ BASE_PATH }}{{ post.url }}">
                    Подробнее
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </article>
    </div>
    {% endfor %}
</div>
