---
layout: default
---
{% include JB/setup %}
<h1>{{ page.title }} {% if page.tagline %}
    <small>{{page.tagline}}</small>
    {% endif %}
</h1>


<div class="well well-sm">
    <div class="row post-full">
        <div class="col-md-12">
            <div class="date">
                <span>{{ page.date | date_to_long_string }}</span>
            </div>
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>
</div>

{% comment %}
<div class="col-md-6">
    {% unless page.categories == empty %}
    <h4>Категории</h4>
    <ul class="nav nav-pills">
        <!-- <li><i class="icon-folder-open"></i></li> -->
        {% assign categories_list = page.categories %}
        {% include JB/categories_list %}
    </ul>
    {% endunless %}
</div>
{% endcomment %}


{% unless page.tags == empty %}
<h4>Теги</h4>
<div class="well">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <!-- <li><i class="icon-tags"></i></li> -->
                {% assign tags_list = page.tags %}
                {% include JB/tags_list %}
            </ul>
        </div>
    </div>
</div>
{% endunless %}


<h4>Навигация</h4>
<div class="well navigation">


    <div class="row">

        <div class="col-md-6 navigation__el navigation__el_l">
            {% if page.previous %}
            <a href="{{ BASE_PATH }}{{ page.previous.url }}" class="{{page.previous.category}}" title="{{ page.previous.title }}">
                <small>Предыдущая</small>
                <br/>
                &larr; {{ page.previous.title }}
            </a>
            {% else %}
            <a>&nbsp;</a>
            {% endif %}
        </div>

        <div class="col-md-6 navigation__el navigation__el_r">
            {% if page.next %}
            <a href="{{ BASE_PATH }}{{ page.next.url }}" class="{{page.next.category}}" title="{{ page.next.title }}">
                <small> Следующая</small>
                <br/>
                {{ page.next.title }} &rarr;
            </a>

            {% else %}
            <a>&nbsp;</a>
            {% endif %}
        </div>
    </div>
</div>


<h4>Комментарии</h4>
<div class="well">
    {% include JB/comments %}
</div>